body {
  background-color: darkkhaki;
  font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
}

img {
  width: 40%;
  height: auto;
  position:fixed;
  left: 60%;
}

  p,
  li {
    width: 55%;
    text-align: justify;
  }

.recipe-list {
  text-align: center;
  width: 100%;
}